*.iml
.gradle
/.idea/gradle.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/compiler.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles
/.idea/misc.xml
/.idea/*
.idea/runConfigurations.xml
.DS_Store
/build
app/build
app/release
/captures
.externalNativeBuild
.cxx
/hover.sdk
*.apk
.project
.settings/
app/.classpath
app/.project
app/.settings/
/app/src/main/res/values/app_keys.xml
.idea/misc.xml

build-logic/build
build-logic/.gradle
build-logic/convention/build

internal/build
internal/analytics/build
internal/data/build
internal/database/build
internal/datastore/build
internal/model/build
internal/network/build
internal/remoteconfig/build
internal/resources/build
internal/sync/build
internal/testing/build
internal/ui/build

features/build
features/transactions/build
features/user-profile/build

#Fastlane
fastlane/report.xml
fastlane/README.md