*.iml
.gradle
/.idea/gradle.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles
/.idea/misc.xml
/.idea/compiler.xml
/.idea/*
.idea/runConfigurations.xml
.DS_Store
/build
app/build
app/release
/captures
.externalNativeBuild
.cxx
/hover.sdk
*.apk
.project
.settings/
app/.classpath
app/.project
app/.settings/
/app/src/main/res/values/app_keys.xml
.idea/misc.xml

build-logic/build
build-logic/.gradle
build-logic/convention/build

core/build
core/network/build
core/resources/build
core/database/build

#Fastlane
fastlane/report.xml
fastlane/README.md