<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.hover.stax">

    <application>
        <meta-data android:name="AF_STORE" android:value="Transsion"/>
        <meta-data android:name="AF_PRE_INSTALL_NAME" android:value="shalltry_int"/>
    </application>

</manifest>