<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.hover.stax">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
            android:name=".ApplicationInstance"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/StaxTheme">

        <activity
                android:name=".SplashScreenActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/StaxTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="stax.me"
                        android:pathPattern="/pay"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="/pay/"
                        android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
                android:name=".home.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/StaxTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_sendmoney"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_sendmoney"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_airtime"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_airtime"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_balance"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_balance"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_settings"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_settings"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_linkaccount"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_linkaccount"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_history"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_history"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_reviews"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_reviews"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_request"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_request"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_bounty"
                        android:scheme="https" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_bounty"
                        android:scheme="http" />
                <data
                        android:host="stax.me"
                        android:pathPattern="@string/deeplink_financial_tips"
                        android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
                android:name=".permissions.PermissionsActivity"
                android:exported="false"
                android:launchMode="singleTask"
                android:theme="@style/StaxTheme" />

        <activity android:name=".destruct.SelfDestructActivity"
                android:exported="false"/>
        <activity
                android:name=".onboarding.OnBoardingActivity"
                android:exported="false"
                android:theme="@style/StaxTheme" />

        <receiver
                android:name=".hover.TransactionReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.hover.stax.TRANSACTION_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
                android:name=".requests.SmsReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.appsflyer.SingleInstallBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <service
                android:name=".pushNotification.FirebaseMessageReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_stax" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/brightBlue" />

        <meta-data
                android:name="io.sentry.dsn"
                android:value="https://ce9bf386ab104ece903cd33fc563c241@o44209.ingest.sentry.io/5477330" />

        <meta-data
                android:name="com.hover.ApiKey"
                android:value="1335646a78bb2b1157304be1510641f6" />
    </application>
</manifest>